Source: nvidia-vaapi-driver
Section: video
Priority: optional
Maintainer: Dong Xu <me@eipi.fun>
Uploaders: Lu YaNing <dluyaning@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-libva,
               libffmpeg-nvenc-dev,
               libgstreamer-plugins-bad1.0-dev,
               meson,
Standards-Version: 4.7.2
Homepage: https://github.com/elFarto/nvidia-vaapi-driver
Vcs-Browser: https://salsa.debian.org/EiPiFun/nvidia-vaapi-driver
Vcs-Git: https://salsa.debian.org/EiPiFun/nvidia-vaapi-driver.git
Rules-Requires-Root: no

Package: nvidia-vaapi-driver
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libcuda1
Description: VA-API implementation that uses NVDEC as a backend
 nvidia-vaapi-driver is an VA-API(Video Acceleration API)
 implementation that uses NVDEC as a backend. This implementation is
 specifically designed to be used by Firefox for accelerated decode of
 web content.
